force-app/main/default/flows/Lead_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>GetLeadIds</name>
        <label>GetLeadIds</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>GetSingleLeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SLead__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_User_Pri_Sec</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_User_Pri_Sec</name>
        <label>Which User Pri/Sec</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLead__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Primary_Status</targetReference>
            </connector>
            <label>Primary User</label>
        </rules>
        <rules>
            <name>Secondary_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SLead__r.Lead_OwnerSecondary__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Secondary_Status</targetReference>
            </connector>
            <label>Secondary User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Primary_Status</name>
        <label>Update Lead Primary Status</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSingleLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Status__c</field>
            <value>
                <stringValue>Site Visit Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Secondary_Status</name>
        <label>Update Lead Secondary Status</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetSingleLeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_StatusSecondary__c</field>
            <value>
                <stringValue>Site Visit Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetLeadIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SV_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Site_Visit__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GetSingleLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
