force-app/main/default/flows/SendBookingEmail.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Secondary_Welcome_Email</name>
        <label>Send Secondary Welcome Email</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>01pGC00000WzGifNotFound</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lst</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SentBook</name>
        <label>SentBook</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>01pGC00000WfbUxNotFound</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lst</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SendBookingEmail {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendBookingEmail</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SentBook</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Welcome_Mail_Sent_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Sent_Secondary_Email_After_6_Hrs</name>
            <connector>
                <targetReference>Send_Secondary_Welcome_Email</targetReference>
            </connector>
            <label>Sent Secondary Email After 6 Hrs</label>
            <offsetNumber>6</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Welcome_Mail_Sent_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
